@import "./variables";

.banner {
  width: 100%;
  height: rem(400px);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: rem(100px);
  &__image {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    @include breakpoint(md) {
      object-fit: contain;
    }
  }
  &__content {
    z-index: 2;
    margin-top: rem(-100px);

    & > h2 {
      font-family: "Inter";
      font-size: rem(60px);
      font-weight: 700;
      text-transform: capitalize;

      @include breakpoint(sm) {
        font-size: rem(64px);
      }
    }
  }
}
