@import "./variables";

.blog-page {
  min-height: 100vh;
  width: 100%;
  background-image: radial-gradient(
      circle farthest-corner at 20% 100%,
      $color-blue,
      transparent 52%
    ),
    radial-gradient(
      circle farthest-corner at 80% 20%,
      $color-pink,
      transparent 33%
    );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(20px);
  padding: rem(60px) rem(20px);
  @include breakpoint(xs) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
