@import "./variables";

@import "./variables.scss";

.navBar {
  width: 100%;
  padding-left: rem(20px);
  padding-right: rem(20px);
  background-color: $color-black;
  padding-top: rem(8px);
  padding-bottom: rem(8px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1000;

  @include breakpoint(sm) {
    padding-left: rem(40px);
    padding-right: rem(40px);
  }
  &__logo {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &-link {
      color: $color-white;
      font-weight: 700;
      text-decoration: none;
      font-size: rem(20px);

      @include breakpoint(sm) {
        font-size: rem(32px);
      }
    }
  }

  &__menu-items {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: rem(40px);
    display: none;

    @include breakpoint(md) {
      display: flex;
    }

    &--mobile {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: rem(4px);
      position: relative;
      @include breakpoint(sm) {
        gap: rem(6px);
      }
      @include breakpoint(md) {
        display: none;
      }

      &__items {
        background-color: $color-black;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(30px);
        height: 100vh;
        top: 100%;
        right: rem(-260px);
        padding: rem(15px);
        padding-top: rem(25px);
        width: rem(200px);
        transition: 0.4s;

        &--show {
          right: rem(-20px);

          @include breakpoint(sm) {
            right: rem(-40px);
          }
        }
      }
    }
  }

  &__burger {
    width: rem(15px);
    height: rem(2px);
    border-radius: rem(2px);
    background-color: $color-white;
    transition: 0.4s;

    @include breakpoint(sm) {
      width: rem(30px);
      height: rem(3px);
    }
    &__1 {
      &--changed {
        transform: translateY(rem(6px)) rotate(45deg);

        @include breakpoint(sm) {
          transform: translateY(rem(9px)) rotate(45deg);
        }
      }
    }

    &__2 {
      &--changed {
        opacity: 0;
      }
    }

    &__3 {
      &--changed {
        transform: translateY(rem(-6px)) rotate(-45deg);

        @include breakpoint(sm) {
          transform: translateY(rem(-9px)) rotate(-45deg);
        }
      }
    }
  }

  &__menu-item {
    color: $color-white;
    text-decoration: none;
    font-size: rem(20px);
    font-family: "Mulish";
    transition: color 0.1s ease-in;

    &:hover {
      color: $color-blue;
    }

    &--button {
      border: solid rem(1px) $color-white;
      padding-left: rem(15px);
      padding-right: rem(15px);
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: rem(20px);
      transition: color background-color 0.2s ease-in;

      &:hover {
        color: $color-black;
        background-color: $color-blue;
        border-color: $color-blue;
      }
    }
  }
}
