@import "./variables";

.scroll-button {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: rem(20px);

  &__button {
    width: rem(70px);
    height: rem(100px);
    border-radius: rem(50px);
    border: solid 4px $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;

    &:hover {
      background-color: $color-pink;
      border-color: $color-pink;
      cursor: pointer;
    }
  }

  &__icon {
    position: relative;
    height: 100%;
    width: 100%;
  }
}
